---
import { Picture } from 'astro:assets'
import profileImage from '../../images/profile.jpg'
import styles from './ProfileHero.module.scss'
import MailIcon from '../../icons/MailIcon.astro'
import LinkedInIcon from '../../icons/LinkedInIcon.astro'
import GithubIcon from '../../icons/GithubIcon.astro'
---

<section class={styles.hero}>
  <Picture
    src={profileImage}
    alt='Profile Image'
    width={338}
    height={338}
    class={styles.profile}
    loading='eager'
  />
  <header class={styles.description}>
    <span class={styles.name}>Jesús Zavala</span>
    <p class={styles.title}>Software Engineer</p>
  </header>
  <footer class={styles.social}>
    <a href='mailto: jesus@zvl.dev' aria-label='Send me an email'>
      <MailIcon />
    </a>
    <a
      href='https://www.linkedin.com/in/jesuszvl/'
      target='_blank'
      aria-label='Contact me at LinkedIn'
    >
      <LinkedInIcon />
    </a>
    <a
      href='https://github.com/jesuszvl'
      target='_blank'
      aria-label='See my code at Github'
    >
      <GithubIcon />
    </a>
  </footer>
</section>
