---
import { Image } from 'astro:assets'
import styles from './ProjectCard.module.scss'
import ExternalIcon from '../../icons/ExternalIcon.astro'

interface Props {
  title: string
  description: string
  image: any
  url: string
}

const { title, description, image, url } = Astro.props
---

<article class={styles.project}>
  <section class={styles.content}>
    <a class={styles.title} target='_blank' href={url} rel='noreferrer'>
      {title}
    </a>
    <p>{description}</p>
  </section>
</article>
