---
import ProjectCard from '../ProjectCard/ProjectCard.astro'
import styles from './Portfolio.module.scss'
import makahcoImage from '../../images/portfolio/makahco.jpg'
import vodyetImage from '../../images/portfolio/vodyet.jpg'
import prepLibreImage from '../../images/portfolio/preplibre.jpg'
import playlistImage from '../../images/portfolio/playlist.jpg'

import ReactIcon from '../../icons/ReactIcon.astro'
import ViteIcon from '../../icons/ViteIcon.astro'
import AstroIcon from '../../icons/AstroIcon.astro'
import NextIcon from '../../icons/NextIcon.astro'
import SupabaseIcon from '../../icons/SupabaseIcon.astro'
import TypescriptIcon from '../../icons/TypescriptIcon.astro'
import JavascriptIcon from '../../icons/JavascriptIcon.astro'
import GoIcon from '../../icons/GoIcon.astro'
import VueIcon from '../../icons/VueIcon.astro'
import RemixIcon from '../../icons/RemixIcon.astro'

const projects = [
  {
    title: 'makahco',
    description:
      'Improve your freestyle with free beats and expand your vocabulary with our AI-powered word and image generator.',
    url: 'https://makah.co',
    image: makahcoImage,
    stack: [ReactIcon, TypescriptIcon, SupabaseIcon, ViteIcon]
  },
  {
    title: 'VODYET',
    description:
      'Easily log daily transactions in an organized way and track expenses by category for a dynamic view of your spending.',
    url: 'https://vodyet.com',
    image: vodyetImage,
    stack: [ReactIcon, TypescriptIcon, NextIcon, SupabaseIcon]
  },
  {
    title: 'PREP Libre',
    description:
      'In Mexico, each electoral process incurs a cost of millions of pesos for institutions in preliminary results systems. We can do it better, and for free.',
    url: 'https://preplibre.com',
    image: prepLibreImage,
    stack: [ReactIcon, TypescriptIcon, RemixIcon, GoIcon]
  },
  {
    title: 'VS My Playlist',
    description:
      'Have you ever wanted to organize your Spotify playlists based on a ranking of song previews, with them interacting between each other? No? Okay, cool.',
    url: 'https://jesuszvl.github.io/vs-my-playlist',
    image: playlistImage,
    stack: [VueIcon, JavascriptIcon]
  }
]
---

<div class={styles.portfolio}>
  <h1>Personal Projects</h1>
  <div class={styles.projects}>
    {
      projects.map((project) => (
        <ProjectCard
          title={project.title}
          description={project.description}
          url={project.url}
          image={project.image}
        >
          {project.stack.map((Icon) => (
            <Icon slot='stack' />
          ))}
        </ProjectCard>
      ))
    }
  </div>
</div>
