---
import ProjectCard from '../ProjectCard/ProjectCard.astro'
import styles from './Portfolio.module.css'
import makahcoImage from '../../images/portfolio/makahco.png'
import vodyetImage from '../../images/portfolio/vodyet.png'
import prepLibreImage from '../../images/portfolio/preplibre.png'
import playlistImage from '../../images/portfolio/playlist.png'

import ReactIcon from '../../icons/ReactIcon.astro'
import ViteIcon from '../../icons/ViteIcon.astro'
import NextIcon from '../../icons/NextIcon.astro'
import SupabaseIcon from '../../icons/SupabaseIcon.astro'
import TypescriptIcon from '../../icons/TypescriptIcon.astro'
import JavascriptIcon from '../../icons/JavascriptIcon.astro'
import VueIcon from '../../icons/VueIcon.astro'
import MongoIcon from '../../icons/MongoIcon.astro'
import ExpressIcon from '../../icons/ExpressIcon.astro'
import NodeIcon from '../../icons/NodeIcon.astro'

const projects = [
  {
    title: 'MAKAHCO',
    description: 'Rap & freestyle tools',
    url: 'https://makah.co',
    image: makahcoImage,
    stack: [ReactIcon, TypescriptIcon, SupabaseIcon, ViteIcon],
    color: '#fcd926',
    isTextLight: false
  },
  {
    title: 'VODYET',
    description: 'Budget app for daily expenses',
    url: 'https://vodyet.com',
    image: vodyetImage,
    stack: [ReactIcon, TypescriptIcon, NextIcon, SupabaseIcon],
    color: '#2ca143',
    isTextLight: true
  },
  {
    title: 'PREP LIBRE',
    description: 'Open Platform for Electoral Preliminary Results',
    url: 'https://preplibre.com',
    image: prepLibreImage,
    stack: [MongoIcon, ExpressIcon, ReactIcon, NodeIcon, TypescriptIcon],
    color: '#ed8b1c',
    isTextLight: true
  },
  {
    title: 'VS MY PLAYLIST',
    description: 'Spotify Playlist Organizer',
    url: 'https://jesuszvl.github.io/vs-my-playlist',
    image: playlistImage,
    stack: [VueIcon, JavascriptIcon],
    color: '#2b2667',
    isTextLight: true
  }
]
---

<section class={styles.portfolio}>
  <div class={styles.content}>
    <h1 class={styles.title}>Projects</h1>
    <p class={styles.subtitle}>
      Prototypes, Digital Products (Apps, Websites, SaaS solutions) and design
      systems which are visually pleasing, user-centric and easy to use.
    </p>
    <div class={styles.projects}>
      {
        projects.map((project) => (
          <ProjectCard
            title={project.title}
            description={project.description}
            url={project.url}
            image={project.image}
            color={project.color}
            isTextLight={project.isTextLight}
          >
            {project.stack.map((Icon) => (
              <Icon slot='stack' />
            ))}
          </ProjectCard>
        ))
      }
    </div>
  </div>
</section>
