---
import ProjectCard from './ProjectCard.astro'
import makahcoImage from '../images/portfolio/makahco.webp'
import vodyetImage from '../images/portfolio/vodyet.webp'
import prepLibreImage from '../images/portfolio/preplibre.webp'
import playlistImage from '../images/portfolio/playlist.webp'

const projects = [
  {
    title: 'MAKAHCO',
    description: 'Rap & freestyle tools',
    url: 'https://makah.co',
    image: makahcoImage,
    color: '#fcd926',
    isLight: false
  },
  {
    title: 'VODYET',
    description: 'Budget app for daily expenses',
    url: 'https://vodyet.com',
    image: vodyetImage,
    color: '#2ca143',
    isLight: true
  },
  {
    title: 'PREP LIBRE',
    description: 'Open Platform for Electoral Preliminary Results',
    url: 'https://preplibre.com',
    image: prepLibreImage,
    color: '#ed8b1c',
    isLight: true
  },
  {
    title: 'VS MY PLAYLIST',
    description: 'Spotify Playlist Organizer',
    url: 'https://jesuszvl.github.io/vs-my-playlist',
    image: playlistImage,
    color: '#2b2667',
    isLight: true
  }
]
---

<section class='portfolio' id='projects'>
  <section class='responsive-content'>
    <h2>Projects</h2>
    <section class='projects'>
      {
        projects.map((project) => (
          <ProjectCard
            title={project.title}
            description={project.description}
            url={project.url}
            image={project.image}
            color={project.color}
            isLight={project.isLight}
          />
        ))
      }
    </section>
  </section>
</section>

<style>
  .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .responsive-content {
    display: flex;
    flex-direction: column;
    padding: 48px 24px;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
    gap: 32px;
    width: 100%;

    @media screen and (max-width: 760px) {
      flex-direction: column;
      align-items: center;
    }
  }

  h2 {
    color: white;
    margin-bottom: 48px;
  }

  p {
    font-size: 24px;
    margin-bottom: 42px;
  }
</style>
