---
import { Image } from 'astro:assets'
interface Props {
  title: string
  description: string
  image: any
  url: string
  color: string
  isLight?: boolean
}

const { title, description, image, url, color, isLight } = Astro.props
---

<a
  href={url}
  target='_blank'
  rel='noopener noreferrer'
  style={{ background: color }}
>
  <section class:list={['info', { ['isLight']: isLight }]}>
    <h3>{title}</h3>
    <p>{description}</p>
  </section>
  <Image src={image} alt={title} />
</a>

<style>
  a {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 560px;
    border-radius: 12px;
    color: black;
    transition: transform 0.15s ease;
    width: 100%;
    overflow: hidden;

    &:hover {
      transform: scale(1.05);
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    padding: 24px;
  }

  h3 {
    font-size: 16px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
  }

  p {
    font-size: 34px;
    font-weight: 700;
  }

  .isLight {
    & h3 {
      color: rgba(255, 255, 255, 0.6);
    }

    & p {
      color: white;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  a {
  }
</style>
